.git
.github
.idea
.vscode
node_modules
vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
k8s
tests
phpunit.xml
README.md
DESIGN.md
PANDUAN.md
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
